.listArt {
    @include horizontalAlignment;
    justify-content: center;
    gap: $gapItemArt;
    flex-wrap: wrap;
    margin-top: 60px
}

.appPagination
{
    @include horizontalAlignment;
    justify-content: flex-end;
    margin-top: 100px;
}

.appFilter {
    @include horizontalAlignment;
    align-items: center;
}

